.box{
    width: 100px;
    height: 100px;
    background-color: teal;
}
.delay .box{
    display: none;
}
.slide p{
    display: none;
}
.bgyellow{
    background: yellow;
}
.font{
    font-size: 30px;
}